### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.gradle
.idea
logs
.DS_Store
gha-creds-*.json
build/
**/build
**/resources/*.jks
/*.jks
**/*.jks
ams/build
**/bin
**/.classpath
**/.project
**/.settings
**/.jar